body{
    background-image: url(/bg-image.png);
    background-size: cover; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  background-position: center; 
  font-family: Arial, sans-serif;
  width: 100vw;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    margin-top: 10rem;
    opacity: 0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(0);
    animation: fadeInUp 1s forwards;
}
.container:hover {
    box-shadow: 0 8px 30px rgba(57, 40, 167, 0.7); 
    transform: translateY(-5px); 
}

@keyframes fadeInUp {
    to {
        opacity: 1; 
        transform: translateY(0); 
    }
}

h1 {
    text-align: center;
    color: #333;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}


button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #218838;
}
