* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    height: 4rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    transition: background-color 0.3s;
    background-color: transparent; 
}

.link {
    transition: all 0.3s;
    color: white; 
}

.link:hover {
    cursor: pointer;
}

.nav.scrolled {
    background-color: white; 
    box-shadow: 5px 2px 2px black;
}

.nav.scrolled .link {
    color: black; 
}

.links {
    display: flex;
    align-items: baseline;
    margin-right: 5rem;
}

.links a {
    text-decoration: none;
    color: white;
    margin: 1rem;
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    transition: all 0.3s;
    animation: changelink 1.5s ease-in-out;
}

@keyframes changelink {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.links a:hover {
    color: rgb(86, 127, 164);
}

.logo {
    margin-left: 2rem;
    transition: all 0.4s;
}

.logo:hover {
    cursor: pointer;
}

h1 {
    font-size: 2.8rem;
    color: white;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .links {
        margin-right: 0;
        flex-direction: column;
        width: 100%;
        padding: 1rem;
    }

    .links a {
        font-size: 1.2rem; 
        margin: 0.5rem 0; 
        color: black;
    }

    .nav.scrolled .links a {
        color: black; 
    }
}
